SUPABASE_INSTANCE_USER=postgres.ejycrhvtmrrzhwnxugpo
SUPABASE_INSTANCE_PASSWORD=aayusmita666
SUPABASE_INSTANCE_HOST=aws-1-ap-southeast-2.pooler.supabase.com
SUPABASE_INSTANCE_PORT=6543
SUPABASE_INSTANCE_DATABASE=postgres
SUPABASE_INSTANCE_POOL_MODE=transaction
SUPABASE_INSTANCE_PROJECT_ID=ejycrhvtmrrzhwnxugpo
